.example-viewport {
    height: 700px;
    width: 410px;
    border: 1px solid #CCC;
    padding: 20px;
    margin: 20px;
    background-color: #CCC;
  }
  
  .example-item {
    height: 50px;
  }
  .container{
    align-content: center;
  }